[mysqld]
character_set_server = utf8
collation-server = utf8_bin
default-storage-engine = INNODB
max_allowed-packet=512M
innodb_log_file_size=2G
transaction_isolation = READ-COMMITTED
# 可添加一些mysql调优参数
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8